<ul>
    <li class="h4 mb-4 mt-4"><a href="{{ path('admin_annonces') }}">Gestion des annonces</a></li>
    <li class="h4 mb-4"><a href="#">Gestion des utilisateurs</a></li>
    <li class="h4 mb-4"><a href="{{ path('admin_role') }}">Gestion des ROLES</a></li>
</ul> 