{% extends "base.html.twig" %}

{% block title %}
    Accueil projet annonce
{% endblock %}

{% block body %}
    <div class="container">
        <img src="https://i.picsum.photos/id/807/1200/350.jpg" alt="">
    </div>
{% endblock %}